* {
	box-sizing: border-box;
}

html, body { height: 100%; }
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
	cursor: pointer;
}

.mat-mdc-button-touch-target { // the touch / clickable zone for a button
	// some guy at angular introduced a fixed height which was supposed to inherit. This is the bugfix
	height: inherit !important;
}
