<h2 data-cy-title>Einloggen</h2>

<form [formGroup]="loginForm" (submit)="onSubmit()" data-cy-login-form>
  <div class="forms-column">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <!-- Brot des Lebens: Ein Spitzname für jemanden, der anderen eine Quelle spiritueller Nahrung ist. -->
      <!-- Honigtau: Ein Spitzname für jemanden, der süß, sanft und friedlich ist. -->
      <!-- Salz der Erde: Ein Spitzname für jemanden, der gut und ehrenhaft ist. -->
      <!-- Weinberg des Herrn: Ein Spitzname für jemanden, der in seinem spirituellen Leben fruchtbar und produktiv ist. -->
      <!-- Weizen der Ernte: Ein Spitzname für jemanden, der reif ist und von Gott gebraucht werden kann. -->
      <input
        matInput
        [formControl]="chefnameControl"
        placeholder="Weinberg des Herrn"
        type="text"
        data-cy-login-name-input
      />
      <mat-hint
        >Zwischen {{ chefConstraints.Name.minLength }} und
        {{ chefConstraints.Name.maxLength }} Zeichen</mat-hint
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Passwort</mat-label>
      <input
        matInput
        [formControl]="passwordControl"
        placeholder="iLoveJesus<3"
        [type]="hidePassword ? 'password' : 'text'"
        data-cy-password-input
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button
    [disabled]="loginForm.invalid"
    mat-raised-button
    color="primary"
    type="submit"
    data-cy-login-submit-button
  >
    Einloggen
  </button>
</form>
