@use 'breakpoints' as *;

mat-drawer-container {
  height: 100%;
}

mat-drawer {
  padding: 0;
}

.router-outlet-defaults {
  margin: 1rem;
}

@include MaxWidth600 {
  mat-drawer {
    width: 100%;
  }
}
