@use '../app/shared/variables';
@use '@media' as *;

.wrapper {
	height: 100%;
}

.menu {
	padding: 0;
}

.router-outlet-defaults {
	margin: #{variables.$spacing};
}

@include mobile {
	.menu {
		width: 100%;
	}
}
