<div class="auth-wrapper" data-cy-auth-corner>
  @if (isAuthorizedSignal()) {
    <button
      mat-stroked-button
      color="accent"
      (click)="logout()"
      data-cy-logout-button
    >
      Ausloggen
    </button>
  } @else {
    <button
      mat-flat-button
      color="accent"
      routerLink="/register"
      data-cy-register-button
    >
      Account erstellen
    </button>
    <button
      mat-raised-button
      color="accent"
      routerLink="/login"
      data-cy-login-button
    >
      Einloggen
    </button>
  }
</div>
