name: Build, UnitTests and End-2-end tests
on:
  push:
    branches-ignore:
      - 'master'
jobs:

  build-server:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET 8.0.x
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore NuGet packages
        run: dotnet restore

      - name: Build .NET Web API
        run: dotnet build

  run-server-tests:
    runs-on: ubuntu-22.04
    
    defaults:
      run:
        working-directory: './'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore NuGet packages
        run: dotnet restore

      - name: Build .NET Web API
        run: dotnet build

      - name: Run .NET Web API Tests
        run: dotnet test

  lint-and-build-and-test-client:
    runs-on: ubuntu-22.04
    
    defaults:
      run:
        shell: bash
        working-directory: client

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.11.1'
          cache: 'npm'
          cache-dependency-path: 'client/package-lock.json'
  
      - name: install dependencies
        run: npm ci

      - name: lint
        run: npm lint

      - name: build
        run: npm run build

      - name: run jasmine tests
        run: npm run test --browsers ChromeHeadless --watch false

  cypress-e2e-tests-on-google-chrome:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.11.1'
          cache: 'npm'
          cache-dependency-path: 'client/package-lock.json'

      - name: include nx dependencies
        uses: nrwl/nx-set-shas@v4

      - name: serve Front-End
        working-directory: client
        run: |
          npm ci
          npm start &

      - name: start MongoDB
        uses: supercharge/mongodb-github-action@1.10.0 # already includes "Waiting for MongoDB to accept connections" at the end
        with:
          mongodb-version: '6.0'

      - name: Build and Run Back-End
        run: dotnet build && dotnet run --project ./Application &

      - name: run cypress e2e
        uses: cypress-io/github-action@v6.6.0
        with:
          working-directory: client
          project: ./e2e
          spec: e2e/src/**/*cy.ts
          browser: chrome
          wait-on: 'http://localhost:5126/swagger/index.html, http://localhost:4200'
          wait-on-timeout: 150 # wait 150s (dotnet restore can take a while if not cached. Otherwise it usually takes a few seconds)

# TODO: include e2e for other platforms and browsers https://github.com/cypress-io/github-action/blob/master/.github/workflows/example-basic.yml